<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <h3 th:text="${#strings.capitalizeWords(title)}"></h3>
    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <!-- <h1 th:text="${#strings.capitalizeWords(title)}"></h1> -->

    <div th:if="${items} and ${items.size()}">
        <!--
        <table>
            <tr th:each="item, idx : ${items}" th:class="${idx.odd} ? 'odd'">
                <td><a th:href="@{/list/jobs(column=${column},value=${item})}" th:text="${item}"></a></td>
            </tr>
        </table>
        -->
        <div th:each="item, idx : ${items}" th:class="${idx.odd} ? 'odd'" >
            <table class="job-listing">
            <tr th:each="category : ${item}">
                    <td><a th:href="@{/list/jobs(column=${column},value=${category.key})}" th:text="${category.key}"></a></td>
                    <td><a th:href="@{/list/jobs(column=${column},value=${category.value})}" th:text="${category.value}"></a></td>
            </tr>
            </table>
        </div>
    </div>


</div>

</body>
</html>